h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: blanchedalmond;
    color: darkblue;
    font-size: 50px;
    text-align: center;}
    .box {border: 5px solid purple; background: #eee;} 
    .pd-large {padding-top: 20px; padding-bottom: 20px;padding-left: 40px;padding-right: 40px;}
    .mg-large {margin-top: 20px;margin-bottom: 50px;margin-left: 100px;margin-right: 100px;}
    .text-center {text-align: center;}
    .text-large {font-size: 40px;}
section {background:lightblue;
            margin: 100px;
            width: 800px;
            height: 50px;
            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 30px;
    align-content: center;
margin: auto;}
body {background: lavenderblush;}
.picture {align-self: center;
margin-bottom: 20px;
margin-left: auto;
margin-right: auto;}
